@model Eshop.Models.AccountViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-info" style="display:block ;text-align:center;">Update Account</h1>
<form asp-controller="HomeAdmin" asp-action="UpdateMember" method="post" role="form" enctype="multipart/form-data">
    <hr />
    <div asp-validation-summary="All" class="text-danger" ></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Username" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Username" class="form-control" placeholder="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
     <div class="form-group">
        <label asp-for="Phone" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Phone" class="form-control" placeholder="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Address" class="form-control" placeholder="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FullName" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="FullName" class="form-control" placeholder="FullName" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
  
   
    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success form-control">Update</button>
        </div>
    </div>
</form>



